TabbedContent {
    dock: top;
}

ContentSwitcher{
    height: 1fr;
}

TabPane {
    overflow-y: auto;
    height: 1fr;
    padding-bottom: 1;  /* adjust to match your footer height */
}

Screen {
    layers: base floating;
}